@charset "UTF-8";
.cis-field-container {
    display: block;
    padding: 4px;
}
.intest img {
	display:none;	
}
a i {
	margin-right:2px;
}
.screen-s .backmenu {
    background-image: none;
}